@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema chiaro */
/* https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226*/
:root {
  --color-background: #e9d8a6;
  --color-text: #111827;
  --color-primary: #005f73;
  --color-secondary: #9b2226;
  --color-tertiary: #001219;
  --color-card: #ffffff;
  --color-fourth: #0a9396;
  --color-success: #22c55e;
  --color-error: #9b2226;
  --color-warning: #f59e42;
  --color-info: #0ea5e9;
  --color-border: #e5e7eb;
  --color-disabled: #d1d5db;
  --color-hover: #e0e7ff;
  --color-neutral: #f9fafb;
}

/* Tema scuro */
.dark {
  --color-background: #001219;
  --color-text: #f9fafb;
  --color-primary: #005f73;
  --color-secondary: #ffffff;
  --color-card: #005f73;
  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-warning: #f59e42;
  --color-info: #0ea5e9;
  --color-border: #334155;
  --color-disabled: #64748b;
  --color-hover: #1e293b;
  --color-neutral: #1e293b;
}
